@font-face{
    font-family: 'junction-bold';
    src: url('junction-bold.ttf'),
    url('junction-bold.eot'); /* IE */
}

/* < medium width settings go here */

.hide-on-medium {
	display:none;
}
.show-on-medium {
	display:block;
}

.side-bar {}

@media only screen and (min-width: 48em) {

	/* medium width + settings go here */

	.hide-on-medium {
		display:block;
	}
	.show-on-medium {
		display:none;
	}

	.side-bar {
		background-color: #fbfbfb;
		padding: 1.5em;
		padding-top: 0.25em;
	}
}

#hamburger-icon {
	margin-bottom: 0.25em;
	cursor: pointer;
}

#vert-menu {
	width: 11.5em;
	border: none;
	display: none;
}

#vert-menu-x {
	position: relative;
	left: 9.75em;
	top: 2em;
	z-index: 1001;
	cursor: pointer;
	display: none;
}

#sticky-menu {
	position: fixed;
    top: 1em;
    left: 0em;
}

* {
	color: #461e78;
	font-family: 'Ubuntu', arial, serif;
}

h2 {
	color: #a71cad;
	font-family: 'junction-bold', arial, serif;
	font-weight: bold;
}

a {
	font-family: 'Ubuntu', arial, serif;
}

.red {
	color: #f00;
}

.blue {
	color: #2f07d1;
}

.content {
	max-width:940px;
	margin-left:auto;
	margin-right:auto;
}

.header {
	max-width:740px;
	margin-left:auto;
	margin-right:auto;
}

.blue-box {
	background-color: #ccecf8;
	padding: 1.5em;
	border-top-right-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
}

.box-wrapper {
	margin-left: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.blue-tab {
	background-color: #e4f7fe;
	border-top-right-radius: 0.4em;
	border-top-left-radius: 0.4em;
}

.blue-tab-vert {
	background-color: #e4f7fe;
}

.blue-tab-vert.selected {
	background-color: #ccecf8;	
}

.blue-tab.selected {
	background-color: #ccecf8;	
}

a.pony-link {
	color: #2f07d1;
}

.pure-menu li.blue-tab a:hover,
.pure-menu li.blue-tab a:focus {
    background-color: #bee9f8;
    border-top-right-radius: 0.4em;
	border-top-left-radius: 0.4em;
}

.pure-menu li.blue-tab.selected a:hover,
.pure-menu li.blue-tab.seleted a:focus {
    background-color: #ccecf8;
    border-top-right-radius: 0.4em;
	border-top-left-radius: 0.4em;
}

.left-column {
	padding-right: 1em;
}

.right-column {
	padding-left: 1em;
}

#helper-video {
	width: 100%    !important;
}

.top-spacer {
	margin-top: 1em;
}

.top-padding {
	padding-top: 0.5em;
}

h2.no-top-margin {
	margin-top: 0em;
}